@{

}

@using Domain
@model IEnumerable<Domain.Package>

<div class="row">
    @foreach (var package in @Model)
    {
        //Check if pickup and available till is at the same date (not time)
        string date = date = @package.PickupTime.ToString("d/M/yyyy HH:mm") + " - " + @package.AvailableTill.ToString("d/M/yyyy HH:mm");
        if (package.PickupTime.Year == package.AvailableTill.Year && package.PickupTime.Month == package.AvailableTill.Month && package.PickupTime.Day == package.AvailableTill.Day)
        {
            date = @package.PickupTime.ToString("d/M/yyyy HH:mm") + " - " + @package.AvailableTill.ToString("HH:mm");
        }

        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
            <div class="package">
                <div class="package-img">
                    <img src="~/img/openBox.png">
                </div>
                <div class="package-content">
                    <h5>@package.Name</h5>
                    <span class="package-content-date">@date</span><br />
                    <span class="package-content-type">@Enum.GetName(typeof(Category), @package.Category)</span>
                    <p class="package-content-price">€@Math.Round(@package.Price, 2)</p>
                </div>
            </div>
        </div>
    }
</div>
